<div class="bookshelf js-bookshelf-books"></div>
<div class="section no-pad-bot">
    <div class="container">
        <div class="row center">
            <a href="#!" class="btn-large waves-effect waves-light teal lighten-1 js-add-book">Add book</a>
        </div>
    </div>
</div>