<div class="book-cover z-depth-1 valign-wrapper" style="background-image: url({{cover}});">
    <div class="book-cover-overlay"></div>
    <a href="#!" class="book-cover-button btn valign center waves-effect waves-light teal lighten-1 js-remove-book">remove</a>
</div>