<div class="container">
    <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">About Us</h5>

            <p class="grey-text text-lighten-4">BookWorm is the world’s largest site for readers and book
                recommendations.<br/>Our mission is to help people find and share books they love.</p>

        </div>
        <div class="col l3 s12 js-footer-about-us-links"></div>
        <div class="col l3 s12 js-footer-worth-reading-links"></div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
</div>